* {
	margin: 0px;
	padding: 0px;
	font-family: Tahoma;
}

.menu {
	position: relative;
	font-family: "Arial";
  	color: rgb(255, 255, 255);
	list-style-type: none; /* Tira	 o estilo da lista */
	float: left;
}

.menu li {
	position: relative;
	width: 170px;
	float: left;
	font-size: 13px;
	background-color: rgb(69, 69, 69);
	padding-left: 10px;
	height: 28px;
	line-height: 28px;
}

.menu li a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.menu li ul {
	position: absolute;
	top: 28px;
	left: 0px;
	display: none;
}

.menu li ul li {
	width: 170px;
	display: block;
	line-height: 28px;
}

.menu li:hover ul, .menu li ul li:hover ul, .menu li.over ul, .menu li ul li.over ul {
	display: block;
}

/* CSS LAYOUT PS CC */

.logo_topo {
  font-size: 30px;
  font-family: "Century Schoolbook";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 18px;
  top: 17.17px;
  z-index: 8;
}

.logo_topo a{
   font-size: 30px;
   font-family: "Century Schoolbook";
   color: rgb(0, 0, 0);
}

.rodape {
  background-color: rgb(69, 69, 69);
  border-right: 1px solid rgb(98, 98, 98);
  border-left: 1px solid rgb(98, 98, 98);
  border-left: 1px solid rgb(98, 98, 98);
  position: relative;
  width: 960px;
  height: 165px;
  z-index: 7;
}

.barra_topo {
  position: relative;
  background-color: rgb(160, 201, 201);
  position: relative;
  width: 960px;
  height: 75px;
  z-index: 5;
  border-right: 1px solid rgb(98, 98, 98);
  border-left: 1px solid rgb(98, 98, 98);
}

.barra_menu {
  position: relative;
  background-color: rgb(69, 69, 69);
  width: 960px;
  height: 53px;
  z-index: 3;
  border-right: 1px solid rgb(98, 98, 98);
  border-left: 1px solid rgb(98, 98, 98);
}

.corpo {
  position: relative;
  width: 960px;
  min-height: 400px;
  padding-top: 30px;
  padding-bottom: 50px;
  border-right: 1px solid rgb(98, 98, 98);
  border-left: 1px solid rgb(98, 98, 98);
}

.sair {
  font-size: 14px;
  font-family: "Tahoma";
  color: rgb(0, 0, 0);
  text-decoration: underline;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 930px;
  top: 10px;
  z-index: 10;
}

.sair a {
  font-size: 14px;
  font-family: "Tahoma";
  color: rgb(0, 0, 0);
}


#conteudo {
	margin-left: 20px;
}

input {
	margin-bottom: 20px;
	padding: 6px;
}

select {
	padding: 6px;
	margin-bottom: 20px;
}
